/*----------------------------------------------Main-----------------------------------------------------*/

#main-cartes-sh {
    color: aliceblue;
    position: fixed;
    top: 70vh;
    left: 3vw;
    right: 0;
    padding: 20px;
    z-index: 1000;
}

#main-cartes-sh img {
    transition: transform 0.3s ease;
    max-height: 150px;
    margin-right: -65px;
    cursor: pointer;
    will-change: transform;
}

#main-cartes-sh img:hover {
    transform: scale(3) translateY(-70%);
    transition-delay: 0.2s;

}

/*----------------------------------------------Plateau-----------------------------------------------------*/

.plateau-container,
.plateau,
.carte {
    position: relative;
    z-index: 1;
}

#main-cartes-sh img:hover {
    transform: scale(3) translateY(-70%);
    z-index: 1000;
    transition-delay: 0.2s;
    position: relative;
}


.plateau-container {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
    height: 90vh;
    width: 30vh;
}

.plateau {
    display: flex;
    gap: 1vw;
}

.carte img {
    max-height: 150px;
    display: block;
}

.joueurPseudo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    padding: 2px 5px;
    border-radius: 5px;
}

/*----------------------------------------------Statistiques-----------------------------------------------------*/

#stats-sh {
    position: fixed;
    color: aliceblue;
    bottom: 33%;
    right: 0;
    width: 20%;
    height: 60%;
    overflow-x: auto;
}

#Joueurs {
    text-align: center;
    width: 90%;
    height: 20vh;
    background-color: rgb(67, 70, 70);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.295);
    overflow: auto;
}

#Joueurs-display {
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    display: flex;
}

#Joueurs-display p {
    margin-top: 12px;
    margin-right: 10px;
}

#Joueurs-carte {
    margin-left: 5px;
    margin-right: 12px;
}

#stuff {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#Joueurs img {
    max-height: 45px;
    margin-right: 5px;
    cursor: pointer;
}



/*----------------------------------------------Role-----------------------------------------------------*/

#role-carte-sh {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 37vh;
    left: 3vw;
    gap: 15px;
    padding: 20px;
    z-index: 2000;
}

#role-carte-sh img {
    max-height: 150px;
    /* cursor: pointer; */
}

/*----------------------------------------------Pioches-----------------------------------------------------*/

#pioches {
    color: aliceblue;
    position: fixed;
    top: 10vh;
    left: 3vw;
    padding: 20px;
    width: 600px;
    height: 300px;
}

#pioches img {
    max-height: 150px;
    margin-right: 10px;
}

/*----------------------------------------------TourPasse-----------------------------------------------------*/

#tourPasse {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    position: fixed;
    bottom: 8%;
    width: 30vw;
    left: 50%;
    transform:translateX(-50%);
}

.messageTourPasse{
    color: aliceblue;
    text-align: center;
}

.carte1 img{
    height: 150px;
}