/*----------------------------------------------Main-----------------------------------------------------*/

#main-cartes-sh {
    color: aliceblue;
    position: fixed;
    top: 70vh;
    left: 3vw;
    right: 0;
    padding: 20px;
    z-index: 1000;
    width: 25%;
    overflow: hidden;
}

#main-cartes-sh img {
    transition: transform 0.3s ease;
    max-height: 150px;
    margin-right: -65px;
    cursor: pointer;
    will-change: transform;
}

@media (max-width: 880px){
    #main-cartes-sh img {
        max-height: 100px;
        margin-right: 50px;
    }

    #main-cartes-sh {
        left: 0vw;
    }
}



/*----------------------------------------------Plateau-----------------------------------------------------*/

.plateau-container,
.plateau,
.carte {
    position: relative;
    z-index: 1;
}

#main-cartes-sh img:hover {
    transform: scale(3) translateY(-70%);
    z-index: 1000;
    transition-delay: 0.2s;
    position: relative;
}


.plateau-container {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 3vh;
    gap: 1vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
}

.plateau {
    display: flex;
    gap: 1vw;
}

.carte img {
    max-height: 150px;
    display: block;
}

.joueurPseudo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    padding: 2px 5px;
    border-radius: 5px;
}

/*----------------------------------------------Statistiques-----------------------------------------------------*/

#stats-sh {
    position: fixed;
    color: aliceblue;
    bottom: 33%;
    right: 0;
    width: 20%;
    height: 60%;
    overflow-x: auto;
}

#Joueurs {
    text-align: center;
    width: 90%;
    height: 20vh;
    background-color: rgb(67, 70, 70);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.295);
    overflow: auto;
}

#Joueurs-display {
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    display: flex;
}

#Joueurs-display p {
    margin-top: 12px;
    margin-right: 10px;
}

#Joueurs-carte {
    margin-left: 5px;
    margin-right: 12px;
}

#stuff {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#Joueurs img {
    max-height: 45px;
    margin-right: 5px;
    cursor: pointer;
}



/*----------------------------------------------Role-----------------------------------------------------*/

#role-carte-sh {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 37vh;
    left: 3vw;
    gap: 15px;
    padding: 20px;
    z-index: 2000;
}

#role-carte-sh img {
    max-height: 150px;
    /* cursor: pointer; */
}

@media (max-width: 1300px){

    #role-carte-sh {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0vw;
    padding: 20px;
    width: 30%;
    height: 15%;
        z-index: 2000;
    }
}

@media (max-width: 880px){

    #role-carte-sh {
        font-size: 15px;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 50%;
        top: 40vh;
        left: -7vw;
        gap: 15px;
        z-index: 2000;
    }

    #role-carte-sh p{
        margin-right: 50px;
    }

    #role-carte-sh button{
        font-size: 10px;
        height: auto;
        width: 50;
        margin-top: 5px;
    }

    #role-carte-sh img {
        max-height: 100px;
        margin-right: 50px;
        /* cursor: pointer; */
    }


}

/*----------------------------------------------Pioches-----------------------------------------------------*/

#pioches {
    color: aliceblue;
    position: fixed;
    top: 3vh;
    left: 3vw;
    padding: 20px;
    width: 30%;
    height: 15%;
}

#pioches img {
    max-height: 150px;
    margin-right: 10px;
}

@media (max-width: 1300px){
    #pioches {
        top: 0vh;
    }
    #pioches img {
        max-height: 100px;
        margin-right: 10px;
    }
}

@media (max-width: 672px){
    #pioches {
        top: 0vh;
    }
    #pioches img {
        max-height: 80px;
        margin-right: 10px;
    }
}

/*----------------------------------------------TourPasse-----------------------------------------------------*/

#tourPasse {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    position: fixed;
    bottom: 8%;
    width: 30vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.messageTourPasse {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    text-align: center;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.carte1 img {
    height: 150px;
}