body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: url("http://localhost:8888/fichier/table.jpg") center/cover no-repeat;

}



.container {
  display: flex;
  width: 100%; /* Vous pouvez ajuster la largeur selon vos besoins */
}

.login-form{
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  border-radius: 20px;
  display:flexbox;
  align-items: center;
  text-align: center;
  
}

.login-form h2{
  text-align: center;
}
.login-form button{
  align-items: center;
  padding:2px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.login-form input{
border-radius: 10px;
text-align: center;
font-weight: bold;
font-size:medium



}
