body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("http://localhost:8888/fichier/table.jpg");
}



.container {
  display: flex;
  width: 100%; /* Vous pouvez ajuster la largeur selon vos besoins */
}

.login-form{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
